<div class="col-md-4 col-md-offset-4">
    <form ng-submit="submit()" name="login" class="form-signin" novalidate>
        <h1> Hello </h1>
        <div class="form-group">
            <input name="username" type="text" class="form-control" placeholder="username" ng-model="loginForm.username" required>
        </div>
        <div class="form-group">
            <input name="password" type="password" class="form-control" placeholder="Password" ng-model="loginForm.password" required> </div>
        <div class="form-group">
            <button class=" btn btn-lg btn-primary btn-block " type="submit" ng-click="submit(username, password)">
                log in </button>
        </div>
    </form>
</div>