<h1>Register here</h1>


<form ng-submit="submit()" name="register" class="form-signin" novalidate>
    <h1> Register </h1>
    <input name="email" ng-model="email" type="email" class="form-control" placeholder="Email address" required>

    <p class="help-block" ng-show="register.email.$dirty && register.email.$invalid">please place a real emailadress</p>

    <input name="password" ng-model="password" type="password" class="form-control" placeholder="Password" required>


    <input name="passwordConfirm" ng-model="passwordConfirm" type="password" class="form-control" placeholder="Confirm Password" validate-match='password'>

    <p class="help-block" ng-show="register.passwordConfirm.$dirty && register.passwordConfirm.$invalid"> please match the passwords!</p>

    <button ng-disabled="register.$invalid" class=" btn btn-lg btn-primary btn-block " type="submit ">
        Register </button>
</form>